<!-- 生成不同形状的机器人零件 ：
    立方体 球体 圆柱体
 -->
<robot name="BoeingTeseBase03">
    <material name="yellow">
        <color rgba="0.6 0.6 0.2 0.75"/>
    </material>
    <link name="base301">
        <visual> <!-- 用来描述link的外观 -->
            <!-- 形状-->
             <geometry>
                <box size="4.0 2.0 1.0"/>
                <!-- <sphere radius="1.0"/> -->
                <!-- <cylinder radius="1" length="6.0"/>  -->
                 <!-- <mesh filename="file_path" scale="1.0"/>  皮肤-->
             </geometry>
             <!-- 平移 旋转-->
             <origin xyz="1 1 2" rpy="0.5 0.5 0.5" /> <!-- 翻滚 俯仰 偏航  正值为逆时针旋转-->
             <!-- 材质-->
             <material name="yellow">
                <!-- <color rgba="0.6 0.6 0.2 0.75"/> -->
            </material>
        </visual>
        
    </link>    
</robot>